# {{ ansible_managed }}
{
  log {
        output file /data/log/access.log
    }

  local_certs
}

{% for entry in caddy_rp_hosts %}
{{ entry.subdomain }} {
  reverse_proxy {{ entry.proto | default('http') }}://{{ entry.host }}:{{ entry.port }} {{ entry.extra | default('') }}
}

{% if custom_config is defined %}
// Custom Configuration:
{{ caddy_custom_config }}
{% endif %}
{% endfor %}